@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
#balance {
  display: flex;
  flex-direction: column;
  margin: 50px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.introText {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: -5px;
}
.introText2 {
  font-weight: 400;
  margin-top: 15px;
}

.transferText1Box1 {
  display: flex;
  padding: 0;
  margin-top: 10px;
}

.back-icon1 {
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}

.balanceBox {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  background-color: #572bda;
  margin-top: 10px;
  color: #fcf6fe;
  height: 150px;
  width: 65%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 8px 15px -2px #3f3f3f91;
  box-shadow: 1px 8px 15px -2px #3f3f3f91;
}

.balanceBox .mainbalance {
  visibility: hidden;
  font-size: 25px;
  font-weight: 500;
  background-color: #fcf6fe;
  color: black;
  text-align: center;
  border-radius: 6px;
  margin-top: 95px;
  position: absolute;
  height: 30px;
  padding: 5px;
  z-index: 1;
  -webkit-box-shadow: -5px 4px 15px -1px #000000;
  box-shadow: -5px 4px 15px -1px #000000;
}

.balanceBox:hover .mainbalance {
  visibility: visible;
}

.fig {
  font-weight: 700;
  font-size: 27px;
  margin-top: 10px;
}

.accBalance {
  text-align: center;
  font-weight: 700;
}

.convert {
  text-align: center;
  font-weight: 700;
}

.btn1 {
  border-radius: 5px;
  border-color: #ff7e3c;
  background-color: #ff7e3c;
  font-weight: 700;
  color: #fcf6fe;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 8px;
  padding: 8px;
}

.btn1:hover{
  background-color: #fda97f;
}

.transferInitiation {
  margin-top: 20px;
}

.transferLabel {
  margin: 5px 0 10px 8px;
  font-weight: 500;
}
.fa-trash {
color: red;
margin-top: 18px;
font-size: 18px;
}
.historyLabel {
display: flex;
justify-content: space-between;
width: 74%;
}
.svg:hover{
  fill: #fda97f;
}

.transferBox {
  margin-top: 20px;
  width: 60px;
  background-color: #fcf6fe;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 10px 5px 15px 5px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 4px 10px 0px rgba(58, 58, 58, 0.6);
}

.transferBtn{
  background-color: #ff7e3c;
  margin-top: 10px;
  padding: 7px 5px 3px 5px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  width: 10%;
}

.btn1,
.transferBox:active {
  transform: translateY(3px);
}

.history {
  font-weight: 500;
}

.historyCase {
  display: flex;
  justify-content: space-between;
  background-color: #e5dbe9;
  color: #572bda;
  width: 74%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .balanceBox, .historyCase,.historyLabel {
    width: 100%;
  }
}
