#balance {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  line-height: 17px;
}
.introText {
  font-weight: 500;
  font-size: 23px;
}
.introText2 {
  font-weight: 400;
}
.balanceBox {
  display: flex;
  justify-content: space-between;
  background-color: #9a4cfd;
 padding: 13px 20px 0px 20px ;
  color: white;
  height: 110px;
  width: 65%;
  border-radius: 15px;
}

.balanceBox .mainbalance {
  visibility: hidden;
  font-size: 25px;
  font-weight: 500;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  margin-top: 90px;
  position: absolute;
  height: 30px;
  padding: 0 5px 10px 5px;
  z-index: 1;
}
.balanceBox:hover .mainbalance {
  visibility: visible;
}

.fig {
  font-weight: 700;
  font-size: 27px;
}

.convert {
  margin: 0px 15px 0 0;
}
.btn {
  border-radius: 5px;
  background-color: #f093ff;
  color: rgb(243, 242, 242);
  cursor: pointer;
  margin-left: 8px;
  padding: 8px;
}
.transferBox {
  width: 80px;
  background-color: #e5d1ff;
  color: #9a4cfd;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-weight: 500;
  cursor: pointer;
}
.btn,
.transferBox:active {
  transform: translateY(3px);
}
.history {
  font-weight: 500;
}

.historyCase {
  display: flex;
  justify-content: space-between;
  background-color: #e5d1ff;
  width: 65%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
}
