@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");
#balance {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  line-height: 25px;
}
.introText {
  font-weight: 500;
  font-size: 23px;
}
.introText2 {
  font-weight: 400;
}
.balanceBox {
  display: flex;
  justify-content: space-between;
  background-color: #572BDA;
  padding: 13px 20px 0px 20px;
  color: #FCF6FE;
  height: 110px;
  width: 65%;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .balanceBox {
    width: 100%;
  }
}

.balanceBox .mainbalance {
  visibility: hidden;
  font-size: 25px;
  font-weight: 500;
  background-color: #FCF6FE;
  color: black;
  text-align: center;
  border-radius: 6px;
  margin-top: 95px;
  position: absolute;
  height: 30px;
  padding: 5px;
  z-index: 1;
  -webkit-box-shadow: -5px 4px 15px -1px #000000;
  box-shadow: -5px 4px 15px -1px #000000;
}
.balanceBox:hover .mainbalance {
  visibility: visible;
}

.fig {
  font-weight: 700;
  font-size: 27px;
}

.convert {
  margin: 0px 15px 0 0;
}
.btn1 {
  border-radius: 5px;
  background-color: #F093FF;
  color: #FCF6FE;
  cursor: pointer;
  margin-left: 8px;
  padding: 8px;
}

@media screen and (max-width: 345px) {
  .btn {
    width: 29px;
  }
}

.transferBox {
  width: 80px;
  background-color: #eddbf3;
  color: #572BDA;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-weight: 500;
  cursor: pointer;
}
.btn,
.transferBox:active {
  transform: translateY(3px);
}
.history {
  font-weight: 500;
}

.historyCase {
  display: flex;
  justify-content: space-between;
  background-color: #e5dbe9;
  color: #572BDA;
  width: 65%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
}

