@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");
* {
  margin: 0;
}
.container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0.83)
    ),
    url("https://i.ibb.co/nczFQjr/153056.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  padding: 20px;
  width: 30%;
  background-color: rgb(20, 20, 20);
  opacity: 0.7;
}

.login-container > h2 {
  margin-bottom: 10px;
  text-align: center;
}
.form  {
  margin: 12px;
}

.inputStyle{
  display: flex;
  margin-top: 25px;
}
.input-box {
  width: 100%;
  margin-left: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.input-box > option {
  background-color: black;
  color: grey;
}

.form > div > button {
  width: 100%;
  margin-top: 25px;
  padding: 6px 0 6px 0;
  border-color: transparent;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  background-color: #4418c9;
  color:#fff;
}

@media screen and (max-width: 600px) {
  .container2{
    width: 50%;
  }
  .input-box {
    font-size: 12px;
  }
}