.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 3%;
  min-width: 20em;
  max-width: 70%;
  color: black;
  background-color: #fcf6fe;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
  padding-left: 5%;
  z-index: 2;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-image {
  width: 40px;
  height: 40px;
  margin-left: 38%;
  border-radius: 50%;
  padding: 11px 10px 2px;
  margin-bottom: 2em;
}

.text {
  margin-bottom: 15px;
  line-height: 15px;
  text-align: center;
}

.close {
  font-size: 1.25em;
  background-color: #ff7e3c;
  border: none;
  margin: 20px 0 0 34%;
  padding: 0.5em 1em;
  color: #fff;
  box-shadow: 0 0 0 2px #ff7e3c inset;
  border-radius: 0.25em;
  cursor: pointer;
}

.btnContainer{
  display: flex;
  justify-content: space-around;
}
.yesButton, .noButton {
  font-size: 1.25em;
  background-color: green;
  border: none;
  padding: 5px 10px;
  color: #fff;
  box-shadow: 0 0 0 2px green inset;
  border-radius: 0.25em;
  cursor: pointer;
}
.noButton {
background-color: red;
box-shadow: 0 0 0 2px red inset;
}

.close:hover{
  background-color: #fda97f;
}